<div class="h-full fixed pt-14 w-14 items-center" id="sidebar">
  <a class="block items-center justify-center m-2 p-2 rounded hover:bg-gray-700 hover:text-gray-300" href="/search" id="search" data-page="search">
    <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path xmlns="http://www.w3.org/2000/svg" style=" stroke:none;fill-rule:evenodd;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 9.5 17 C 11.210938 17 12.785156 16.425781 14.050781 15.464844 L 18.792969 20.207031 C 19.183594 20.585938 19.808594 20.582031 20.195312 20.195312 C 20.582031 19.808594 20.585938 19.183594 20.207031 18.792969 L 15.464844 14.050781 C 17.578125 11.277344 17.503906 7.417969 15.289062 4.730469 C 13.070312 2.042969 9.296875 1.234375 6.171875 2.777344 C 3.050781 4.324219 1.402344 7.816406 2.195312 11.207031 C 2.992188 14.601562 6.015625 17 9.5 17 Z M 15 9.5 C 15 12.539062 12.539062 15 9.5 15 C 6.460938 15 4 12.539062 4 9.5 C 4 6.460938 6.460938 4 9.5 4 C 12.539062 4 15 6.460938 15 9.5 Z M 15 9.5 "/>
    </svg>
  </a>
  <a class="block items-center justify-center m-2 p-2 rounded hover:bg-gray-700 hover:text-gray-300" href="/create" id="create" data-page="create">
    <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path xmlns="http://www.w3.org/2000/svg" style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(0%,0%,0%);stroke-opacity:1;stroke-miterlimit:4;" d="M 6 12 L 18 12 M 12 6 L 12 18 "/>
    </svg>
  </a>
</div>
<script>
  function highlightSidebar() {
      const currentPath = window.location.pathname.replace("/", "").toLowerCase();
      document.querySelectorAll("#sidebar a").forEach(button => {
          if (button.getAttribute("data-page") === currentPath) {
              button.classList.add("bg-gray-700", "text-gray-300");
          } else {
              button.classList.remove("bg-gray-700", "text-gray-300");
          }
      });
  }

  document.addEventListener("DOMContentLoaded", highlightSidebar);
  document.addEventListener("htmx:afterSwap", function() {
      setTimeout(() => highlightSidebar(), 50);
  });
</script>