<form
  action="/api/post"
  id="createForm"
  method="post"
  hx-post="/api/post"
  hx-trigger="submit"
  hx-target="#results"
  autocomplete="on"
  class="w-100"
>
  <div class="relative bg-white dark:bg-neutral-900 rounded-lg mt-5 mb-10">
    <input
      class="peer w-full h-10 bg-transparent placeholder-transparent dark:text-white text-sm border-none bg-gray-200 rounded-md px-3 py-2 transition box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;duration-300 ease focus:outline-none focus:border-none focus:shadow-[0_2.8px_2.2px_rgba(0,_0,_0,_0.034),_0_6.7px_5.3px_rgba(0,_0,_0,_0.048),_0_12.5px_10px_rgba(0,_0,_0,_0.06),_0_22.3px_17.9px_rgba(0,_0,_0,_0.072),_0_41.8px_33.4px_rgba(0,_0,_0,_0.086),_0_100px_80px_rgba(0,_0,_0,_0.12)] shadow-sm"
      id="keyword"
      name="keyword"
      type="text"
      placeholder="Add keyword..."
      required="" 
    />
    <label
      class="absolute left-2 top-0 text-gray-500 bg-transparent text-sm transition-all peer-placeholder-shown:top-1.5 peer-placeholder-shown:text-gray-600 peer-placeholder-shown:text-base peer-focus:-top-6 peer-focus:text-gray-600 font-semibold peer-focus:text-sm bg-gray-200 px-1"
      for="defaultInput"
    >
      Keyword
    </label>
  </div>
      
  <div class="relative bg-white dark:bg-neutral-900 rounded-lg mt-10 mb-10">
    <input
      class="peer w-full h-10 bg-transparent placeholder-transparent dark:text-white text-sm border-none bg-gray-200 rounded-md px-3 py-2 transition box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;duration-300 ease focus:outline-none focus:border-none focus:shadow-[0_2.8px_2.2px_rgba(0,_0,_0,_0.034),_0_6.7px_5.3px_rgba(0,_0,_0,_0.048),_0_12.5px_10px_rgba(0,_0,_0,_0.06),_0_22.3px_17.9px_rgba(0,_0,_0,_0.072),_0_41.8px_33.4px_rgba(0,_0,_0,_0.086),_0_100px_80px_rgba(0,_0,_0,_0.12)] shadow-sm"
      id="url"
      name="url"
      type="url"
      placeholder="Add URL..."
      required="" 
    />
    <label
      class="absolute left-2 top-0 text-gray-500 bg-transparent text-sm transition-all peer-placeholder-shown:top-1.5 peer-placeholder-shown:text-gray-600 peer-placeholder-shown:text-base peer-focus:-top-6 peer-focus:text-gray-600 font-semibold peer-focus:text-sm bg-gray-200 px-1"
      for="defaultInput"
    >
      URL
    </label>
  </div>

  <div>
    <button 
      class="relative py-2 px-8 dark:text-white text-base font-bold nded-full overflow-hidden bg-blue-300 dark:bg-gray-700 rounded-full transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-blue-600 before:to-blue-400 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0" 
      type="reset"
    >
      Clear
    </button>
    <button 
      class="relative py-2 px-8 dark:text-white text-base font-bold nded-full overflow-hidden bg-blue-300 dark:bg-gray-700 rounded-full transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-right-full before:w-full before:h-full before:bg-gradient-to-r before:from-blue-600 before:to-blue-400 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:right-0" 
      style="float: right;" 
      type="submit"
    >
      Submit
    </button>
  </div>
  
  <div id="submit-error"\>
  <div id="check-update"\>
</form>

<script>
  document.addEventListener("htmx:afterRequest", function(event) {
    if (event.detail.successful) { // Check if request was successful
      document.getElementById("createForm").reset();
    }
  });
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const keyword = urlParams.get("keyword");

    if (keyword) {
      document.getElementById("keyword").value = keyword;
    }
  });
</script>