<!doctype html>
<html lang="en">
  <head>
    <link href="/assets/main.css" rel="stylesheet" />
    <link href="/assets/theme_toggle.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/icon.ico">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="contents" >
      <div class="flex flex-col h-screen bg-blue-300 dark:bg-neutral-900">
        {% include "components/common/header.html" %}
        {% include "components/common/sidebar.html" %}
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="dialogContainer" class="dialog-container fixed bottom-0 right-0 m-10 flex flex-col gap-2"></div>
  </div>
  </body>
</html>