<!doctype html>
<html lang="en">
  <head>
    <link href="/assets/main.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/icon.ico">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="contents" >
      <div class="flex flex-col h-screen dark:bg-neutral-900">
      <header
        class="header flex items-center px-4 border-b h-14 bg-neutral-100/40 dark:bg-neutral-800/40"
      >
        <h1 class="text-lg font-semibold dark:text-white">Shortcuts</h1>
      </header>
      {% include "components/common/sidebar.html" %}
      {% block content %}{% endblock %}
    </div></div>
  </body>
</html>