<header
class="header flex justify-between items-center px-4 border-b h-14 bg-blue-300 dark:bg-neutral-800/40"
>
  <h1 class="text-lg font-semibold dark:text-white">Shortcuts</h1>
  <label class="switch">
    <input id="checkbox" type="checkbox" />
    <span class="slider">
      <div class="star star_1"></div>
      <div class="star star_2"></div>
      <div class="star star_3"></div>
      <svg viewBox="0 0 16 16" class="cloud_1 cloud">
        <path
          transform="matrix(.77976 0 0 .78395-299.99-418.63)"
          fill="#fff"
          d="m391.84 540.91c-.421-.329-.949-.524-1.523-.524-1.351 0-2.451 1.084-2.485 2.435-1.395.526-2.388 1.88-2.388 3.466 0 1.874 1.385 3.423 3.182 3.667v.034h12.73v-.006c1.775-.104 3.182-1.584 3.182-3.395 0-1.747-1.309-3.186-2.994-3.379.007-.106.011-.214.011-.322 0-2.707-2.271-4.901-5.072-4.901-2.073 0-3.856 1.202-4.643 2.925"
        ></path>
      </svg>
    </span>
  </label>
</header>
<script>
  const toggleDark = (isDarkMode, root) => {
    root.classList.toggle("dark", isDarkMode);
    localStorage.setItem("theme", isDarkMode ? "dark" : "light");
  }

  const intialiseTheme = (themeCheckbox, root) => {
    const systemPrefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
    const storedTheme = localStorage.getItem("theme");

    let isDarkMode;

    // Determine theme based on stored preference or system preference
    if (storedTheme) {
      isDarkMode = storedTheme === "dark";
    } else {
      isDarkMode = systemPrefersDark;
    }

    // Apply the theme before rendering
    toggleDark(isDarkMode, root);
    themeCheckbox.checked = !isDarkMode;

    // Event listener to toggle theme
    themeCheckbox.addEventListener("change", () => {
      const isLightMode = themeCheckbox.checked;
      toggleDark(!isLightMode, root);
    });
  }

  intialiseTheme(document.getElementById("checkbox"), document.documentElement);

  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (event) => {
    const themeCheckbox = document.getElementById("checkbox");
    const root = document.documentElement;
    const isDarkMode = event.matches;
    
    if (!localStorage.getItem("theme")) {
      toggleDark(isDarkMode, root);
      themeCheckbox.checked = !isDarkMode;
    }
  });
</script>