<div
  class="w-full m-2 bg-blue-200 dark:bg-neutral-900 rounded-lg hover:-translate-y-2 hover:shadow-xl shadow-gray-500 dark:shadow-gray-300 text-black dark:text-white duration-500 relative p-4" 
  id="shortcut_{{shortcut.keyword}}"
>
  <a
    class="group flex flex-col justify-start items-start gap-2 w-full"
    href="{{ shortcut.url }}"
  >
    <div class="w-full flex justify-between items-center">    
      <h2 class="text-2xl font-bold mb-2 max-w-[50%] wrap-break-word">{{ shortcut.keyword }}</h2>
      <p href="{{ shortcut.url }}" class="line-clamp-3 max-w-[50%] wrap-break-word" >{{ shortcut.url }}</p>
    </div>
    <div class="w-full">
      <p class="unix-time line-clamp-3 max-w-md wrap-break-word" data-time="{{ shortcut.created }}" data-label="Created"></p>
      <p class="unix-time line-clamp-3 max-w-md wrap-break-word" data-time="{{ shortcut.updated }}" data-label="Updated"></p>
    </div>
  </a>
  <div style="float: right">
    {% include "components/button/delete.html" %}
  </div>
  <script>
    document.querySelectorAll(".unix-time").forEach(element => {
      const unixTimestamp = parseInt(element.getAttribute("data-time"));

      if (!isNaN(unixTimestamp)) {
        const date = new Date(unixTimestamp * 1000).toLocaleString(undefined, {
          day: "2-digit",
          month: "2-digit",
          year: "numeric",
          hour: "2-digit",
          minute: "2-digit",
          second: "2-digit",
          timeZoneName: "short"
        });

        const label = element.getAttribute("data-label"); // Get label from attribute
        element.textContent = `${label}: ${date}`;
      }
    });
  </script>
</div>


